:root {
    --gap: 16px;
}

.board {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--muted);
    box-shadow: var(--shadow-base);
    padding: var(--gap);
    border-radius: 8px;
    min-height: 80vh;
}

.column__title {
    margin-bottom: var(--gap);
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

.column__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.card {
    background-color: var(--primary);
    color: var(--muted);
    box-shadow: var(--shadow-base);
    padding: 12px;
    border-radius: 6px;
    cursor: grab;
}


.card__title {
    font-weight: 500;
}