.board {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
    background-color: var(--background);
    border-radius: var(--radius);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card);
    box-shadow: var(--shadow-base);
    padding: var(--gap);
    border-radius: var(--radius);
    min-height: 80vh;
}

.column__title {
    margin-bottom: var(--gap);
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--main);
}

.column__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
